<!-- START SIGMA IMPORTS -->
<script src="../src/sigma.core.js"></script>
<script src="../src/conrad.js"></script>
<script src="../src/utils/sigma.utils.js"></script>
<script src="../src/utils/sigma.polyfills.js"></script>
<script src="../src/sigma.settings.js"></script>
<script src="../src/classes/sigma.classes.dispatcher.js"></script>
<script src="../src/classes/sigma.classes.configurable.js"></script>
<script src="../src/classes/sigma.classes.graph.js"></script>
<script src="../src/classes/sigma.classes.camera.js"></script>
<script src="../src/classes/sigma.classes.quad.js"></script>
<script src="../src/classes/sigma.classes.edgequad.js"></script>
<script src="../src/captors/sigma.captors.mouse.js"></script>
<script src="../src/captors/sigma.captors.touch.js"></script>
<script src="../src/renderers/sigma.renderers.canvas.js"></script>
<script src="../src/renderers/sigma.renderers.webgl.js"></script>
<script src="../src/renderers/sigma.renderers.svg.js"></script>
<script src="../src/renderers/sigma.renderers.def.js"></script>
<script src="../src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="../src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="../src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="../src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="../src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="../src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="../src/renderers/svg/sigma.svg.utils.js"></script>
<script src="../src/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="../src/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="../src/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="../src/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="../src/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="../src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="../src/middlewares/sigma.middlewares.copy.js"></script>
<script src="../src/misc/sigma.misc.animation.js"></script>
<script src="../src/misc/sigma.misc.bindEvents.js"></script>
<script src="../src/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="../src/misc/sigma.misc.drawHovers.js"></script>
<html lang="en">
  <head>
    <title>Flwer Chart</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
 	
  </head>
  <body>
<script>var graph1 = {"nodes":[{"id":"totalcalls","label":"Total Calls:924","x":0,"y":0,"size":924,"type":"total"},{"id":"harrysalessalesGA_feb_Call_again","label":"harrysales:GA_feb_Call_again:51.42857142857143","x":90,"y":0,"size":2550,"type":"tag"},{"id":"harrysalessalesGA_feb_sales","label":"harrysales:GA_feb_sales:48.57142857142857","x":50,"y":0,"size":2400,"type":"tag"},{"id":"abesalessalesGA_feb_Call_again","label":"abesales:GA_feb_Call_again:43.85964912280702","x":46,"y":24,"size":2150,"type":"tag"},{"id":"abesalessalesGA_feb_sales","label":"abesales:GA_feb_sales:49.12280701754386","x":76,"y":41,"size":2450,"type":"tag"},{"id":"abesalessalesGA_march_sales","label":"abesales:GA_march_sales:7.017543859649122","x":46,"y":58,"size":350,"type":"tag"},{"id":"princesalessalesGA_feb_Call_again","label":"princesales:GA_feb_Call_again:24.210526315789473","x":11,"y":50,"size":1200,"type":"tag"},{"id":"princesalessalesGA_feb_sales","label":"princesales:GA_feb_sales:32.63157894736842","x":41,"y":67,"size":1600,"type":"tag"},{"id":"princesalessalesGA_march_sales","label":"princesales:GA_march_sales:43.1578947368421","x":11,"y":84,"size":2150,"type":"tag"},{"id":"noahsalessalesGA_feb_Call_again","label":"noahsales:GA_feb_Call_again:52.56410256410256","x":-31,"y":50,"size":2600,"type":"tag"},{"id":"noahsalessalesGA_feb_sales","label":"noahsales:GA_feb_sales:21.794871794871796","x":-1,"y":67,"size":1050,"type":"tag"},{"id":"noahsalessalesGA_march_sales","label":"noahsales:GA_march_sales:25.641025641025642","x":-31,"y":84,"size":1250,"type":"tag"},{"id":"tomsalessalesGA_feb_Call_again","label":"tomsales:GA_feb_Call_again:18.88888888888889","x":-66,"y":24,"size":900,"type":"tag"},{"id":"tomsalessalesGA_feb_sales","label":"tomsales:GA_feb_sales:20.0","x":-36,"y":41,"size":1000,"type":"tag"},{"id":"tomsalessalesGA_march_sales","label":"tomsales:GA_march_sales:61.111111111111114","x":-66,"y":58,"size":3050,"type":"tag"},{"id":"dicksalessalesGA_feb_Call_again","label":"dicksales:GA_feb_Call_again:35.064935064935064","x":-80,"y":-17,"size":1750,"type":"tag"},{"id":"dicksalessalesGA_feb_sales","label":"dicksales:GA_feb_sales:51.94805194805195","x":-50,"y":0,"size":2550,"type":"tag"},{"id":"dicksalessalesGA_march_sales","label":"dicksales:GA_march_sales:12.987012987012987","x":-80,"y":17,"size":600,"type":"tag"},{"id":"annasalessalesGA_feb_Call_again","label":"annasales:GA_feb_Call_again:54.6875","x":-66,"y":-58,"size":2700,"type":"tag"},{"id":"annasalessalesGA_feb_sales","label":"annasales:GA_feb_sales:4.6875","x":-36,"y":-41,"size":200,"type":"tag"},{"id":"annasalessalesGA_march_sales","label":"annasales:GA_march_sales:40.625","x":-66,"y":-24,"size":2000,"type":"tag"},{"id":"davidsalessalesGA_feb_Call_again","label":"davidsales:GA_feb_Call_again:31.3953488372093","x":-31,"y":-84,"size":1550,"type":"tag"},{"id":"davidsalessalesGA_feb_sales","label":"davidsales:GA_feb_sales:44.18604651162791","x":-1,"y":-67,"size":2200,"type":"tag"},{"id":"davidsalessalesGA_march_sales","label":"davidsales:GA_march_sales:24.41860465116279","x":-31,"y":-50,"size":1200,"type":"tag"},{"id":"emmasalessalesGA_feb_Call_again","label":"emmasales:GA_feb_Call_again:51.02040816326531","x":11,"y":-84,"size":2550,"type":"tag"},{"id":"emmasalessalesGA_feb_sales","label":"emmasales:GA_feb_sales:6.122448979591836","x":41,"y":-67,"size":300,"type":"tag"},{"id":"emmasalessalesGA_march_sales","label":"emmasales:GA_march_sales:42.857142857142854","x":11,"y":-50,"size":2100,"type":"tag"},{"id":"samsalessalesGA_feb_Call_again","label":"samsales:GA_feb_Call_again:34.04255319148936","x":46,"y":-58,"size":1700,"type":"tag"},{"id":"samsalessalesGA_feb_sales","label":"samsales:GA_feb_sales:46.808510638297875","x":76,"y":-41,"size":2300,"type":"tag"},{"id":"samsalessalesGA_march_sales","label":"samsales:GA_march_sales:19.148936170212767","x":46,"y":-24,"size":950,"type":"tag"},{"id":"harrysales","label":"harry:9","x":70,"y":0,"size":45,"type":"sales"},{"id":"abesales","label":"abe:14","x":56,"y":41,"size":70,"type":"sales"},{"id":"princesales","label":"prince:15","x":21,"y":67,"size":75,"type":"sales"},{"id":"noahsales","label":"noah:14","x":-21,"y":67,"size":70,"type":"sales"},{"id":"tomsales","label":"tom:11","x":-56,"y":41,"size":55,"type":"sales"},{"id":"dicksales","label":"dick:10","x":-70,"y":0,"size":50,"type":"sales"},{"id":"annasales","label":"anna:34","x":-56,"y":-41,"size":170,"type":"sales"},{"id":"davidsales","label":"david:54","x":-21,"y":-67,"size":270,"type":"sales"},{"id":"emmasales","label":"emma:28","x":21,"y":-67,"size":140,"type":"sales"},{"id":"samsales","label":"sam:20","x":56,"y":-41,"size":100,"type":"sales"},{"id":"harry","label":"harry:35","x":50,"y":0,"size":350,"type":"agent"},{"id":"abe","label":"abe:57","x":40,"y":29,"size":570,"type":"agent"},{"id":"prince","label":"prince:95","x":15,"y":48,"size":950,"type":"agent"},{"id":"noah","label":"noah:78","x":-15,"y":48,"size":780,"type":"agent"},{"id":"tom","label":"tom:90","x":-40,"y":29,"size":900,"type":"agent"},{"id":"dick","label":"dick:77","x":-50,"y":0,"size":770,"type":"agent"},{"id":"anna","label":"anna:128","x":-40,"y":-29,"size":1280,"type":"agent"},{"id":"david","label":"david:172","x":-15,"y":-48,"size":1720,"type":"agent"},{"id":"emma","label":"emma:98","x":15,"y":-48,"size":980,"type":"agent"},{"id":"sam","label":"sam:94","x":40,"y":-29,"size":940,"type":"agent"}],"edges":[{"id":"totalcallsharry","source":"totalcalls","target":"harry"},{"id":"totalcallsabe","source":"totalcalls","target":"abe"},{"id":"totalcallsprince","source":"totalcalls","target":"prince"},{"id":"totalcallsnoah","source":"totalcalls","target":"noah"},{"id":"totalcallstom","source":"totalcalls","target":"tom"},{"id":"totalcallsdick","source":"totalcalls","target":"dick"},{"id":"totalcallsanna","source":"totalcalls","target":"anna"},{"id":"totalcallsdavid","source":"totalcalls","target":"david"},{"id":"totalcallsemma","source":"totalcalls","target":"emma"},{"id":"totalcallssam","source":"totalcalls","target":"sam"},{"id":"harrysalesGA_feb_Call_againedge","source":"harrysales","target":"harrysalessalesGA_feb_Call_again"},{"id":"harrysalesGA_feb_salesedge","source":"harrysales","target":"harrysalessalesGA_feb_sales"},{"id":"abesalesGA_feb_Call_againedge","source":"abesales","target":"abesalessalesGA_feb_Call_again"},{"id":"abesalesGA_feb_salesedge","source":"abesales","target":"abesalessalesGA_feb_sales"},{"id":"abesalesGA_march_salesedge","source":"abesales","target":"abesalessalesGA_march_sales"},{"id":"princesalesGA_feb_Call_againedge","source":"princesales","target":"princesalessalesGA_feb_Call_again"},{"id":"princesalesGA_feb_salesedge","source":"princesales","target":"princesalessalesGA_feb_sales"},{"id":"princesalesGA_march_salesedge","source":"princesales","target":"princesalessalesGA_march_sales"},{"id":"noahsalesGA_feb_Call_againedge","source":"noahsales","target":"noahsalessalesGA_feb_Call_again"},{"id":"noahsalesGA_feb_salesedge","source":"noahsales","target":"noahsalessalesGA_feb_sales"},{"id":"noahsalesGA_march_salesedge","source":"noahsales","target":"noahsalessalesGA_march_sales"},{"id":"tomsalesGA_feb_Call_againedge","source":"tomsales","target":"tomsalessalesGA_feb_Call_again"},{"id":"tomsalesGA_feb_salesedge","source":"tomsales","target":"tomsalessalesGA_feb_sales"},{"id":"tomsalesGA_march_salesedge","source":"tomsales","target":"tomsalessalesGA_march_sales"},{"id":"dicksalesGA_feb_Call_againedge","source":"dicksales","target":"dicksalessalesGA_feb_Call_again"},{"id":"dicksalesGA_feb_salesedge","source":"dicksales","target":"dicksalessalesGA_feb_sales"},{"id":"dicksalesGA_march_salesedge","source":"dicksales","target":"dicksalessalesGA_march_sales"},{"id":"annasalesGA_feb_Call_againedge","source":"annasales","target":"annasalessalesGA_feb_Call_again"},{"id":"annasalesGA_feb_salesedge","source":"annasales","target":"annasalessalesGA_feb_sales"},{"id":"annasalesGA_march_salesedge","source":"annasales","target":"annasalessalesGA_march_sales"},{"id":"davidsalesGA_feb_Call_againedge","source":"davidsales","target":"davidsalessalesGA_feb_Call_again"},{"id":"davidsalesGA_feb_salesedge","source":"davidsales","target":"davidsalessalesGA_feb_sales"},{"id":"davidsalesGA_march_salesedge","source":"davidsales","target":"davidsalessalesGA_march_sales"},{"id":"emmasalesGA_feb_Call_againedge","source":"emmasales","target":"emmasalessalesGA_feb_Call_again"},{"id":"emmasalesGA_feb_salesedge","source":"emmasales","target":"emmasalessalesGA_feb_sales"},{"id":"emmasalesGA_march_salesedge","source":"emmasales","target":"emmasalessalesGA_march_sales"},{"id":"samsalesGA_feb_Call_againedge","source":"samsales","target":"samsalessalesGA_feb_Call_again"},{"id":"samsalesGA_feb_salesedge","source":"samsales","target":"samsalessalesGA_feb_sales"},{"id":"samsalesGA_march_salesedge","source":"samsales","target":"samsalessalesGA_march_sales"},{"id":"harrysalesedge","source":"harry","target":"harrysales"},{"id":"abesalesedge","source":"abe","target":"abesales"},{"id":"princesalesedge","source":"prince","target":"princesales"},{"id":"noahsalesedge","source":"noah","target":"noahsales"},{"id":"tomsalesedge","source":"tom","target":"tomsales"},{"id":"dicksalesedge","source":"dick","target":"dicksales"},{"id":"annasalesedge","source":"anna","target":"annasales"},{"id":"davidsalesedge","source":"david","target":"davidsales"},{"id":"emmasalesedge","source":"emma","target":"emmasales"},{"id":"samsalesedge","source":"sam","target":"samsales"}]};
var graph2 = {"nodes":[{"id":"totalcalls","label":"Sales Flower:209","x":0,"y":0,"size":209,"type":"total","color":null},{"id":"GA_feb_Call_againsalesharry","label":"GA_feb_Call_again:harry:4.938271604938271","x":70,"y":0,"size":4,"type":"tag","color":null},{"id":"GA_feb_Call_againsalesabe","label":"GA_feb_Call_again:abe:8.641975308641975","x":66,"y":12,"size":8,"type":"tag","color":null},{"id":"GA_feb_Call_againsalesprince","label":"GA_feb_Call_again:prince:3.7037037037037037","x":56,"y":19,"size":3,"type":"tag","color":null},{"id":"GA_feb_Call_againsalesnoah","label":"GA_feb_Call_again:noah:6.172839506172839","x":44,"y":19,"size":6,"type":"tag","color":null},{"id":"GA_feb_Call_againsalestom","label":"GA_feb_Call_again:tom:2.4691358024691357","x":34,"y":12,"size":2,"type":"tag","color":null},{"id":"GA_feb_Call_againsalesdick","label":"GA_feb_Call_again:dick:6.172839506172839","x":30,"y":0,"size":6,"type":"tag","color":null},{"id":"GA_feb_Call_againsalesanna","label":"GA_feb_Call_again:anna:22.22222222222222","x":34,"y":-12,"size":22,"type":"tag","color":null},{"id":"GA_feb_Call_againsalesdavid","label":"GA_feb_Call_again:david:23.45679012345679","x":44,"y":-19,"size":23,"type":"tag","color":null},{"id":"GA_feb_Call_againsalesemma","label":"GA_feb_Call_again:emma:18.51851851851852","x":56,"y":-19,"size":18,"type":"tag","color":null},{"id":"GA_feb_Call_againsalessam","label":"GA_feb_Call_again:sam:3.7037037037037037","x":66,"y":-12,"size":3,"type":"tag","color":null},{"id":"GA_feb_salessalesharry","label":"GA_feb_sales:harry:7.042253521126761","x":-5,"y":43,"size":7,"type":"tag","color":null},{"id":"GA_feb_salessalesabe","label":"GA_feb_sales:abe:9.859154929577464","x":-9,"y":55,"size":9,"type":"tag","color":null},{"id":"GA_feb_salessalesprince","label":"GA_feb_sales:prince:12.67605633802817","x":-19,"y":62,"size":12,"type":"tag","color":null},{"id":"GA_feb_salessalesnoah","label":"GA_feb_sales:noah:7.042253521126761","x":-31,"y":62,"size":7,"type":"tag","color":null},{"id":"GA_feb_salessalestom","label":"GA_feb_sales:tom:1.408450704225352","x":-41,"y":55,"size":1,"type":"tag","color":null},{"id":"GA_feb_salessalesdick","label":"GA_feb_sales:dick:7.042253521126761","x":-45,"y":43,"size":7,"type":"tag","color":null},{"id":"GA_feb_salessalesanna","label":"GA_feb_sales:anna:1.408450704225352","x":-41,"y":31,"size":1,"type":"tag","color":null},{"id":"GA_feb_salessalesdavid","label":"GA_feb_sales:david:29.577464788732396","x":-31,"y":24,"size":29,"type":"tag","color":null},{"id":"GA_feb_salessalesemma","label":"GA_feb_sales:emma:1.408450704225352","x":-19,"y":24,"size":1,"type":"tag","color":null},{"id":"GA_feb_salessalessam","label":"GA_feb_sales:sam:22.535211267605632","x":-9,"y":31,"size":22,"type":"tag","color":null},{"id":"GA_march_salessalesabe","label":"GA_march_sales:abe:0.0","x":-22,"y":-23,"size":0,"type":"tag","color":null},{"id":"GA_march_salessalesprince","label":"GA_march_sales:prince:5.2631578947368425","x":-35,"y":-26,"size":5,"type":"tag","color":null},{"id":"GA_march_salessalesnoah","label":"GA_march_sales:noah:7.017543859649122","x":-44,"y":-36,"size":7,"type":"tag","color":null},{"id":"GA_march_salessalestom","label":"GA_march_sales:tom:14.035087719298245","x":-44,"y":-50,"size":14,"type":"tag","color":null},{"id":"GA_march_salessalesdick","label":"GA_march_sales:dick:0.0","x":-35,"y":-60,"size":0,"type":"tag","color":null},{"id":"GA_march_salessalesanna","label":"GA_march_sales:anna:26.31578947368421","x":-22,"y":-63,"size":26,"type":"tag","color":null},{"id":"GA_march_salessalesdavid","label":"GA_march_sales:david:24.56140350877193","x":-10,"y":-56,"size":24,"type":"tag","color":null},{"id":"GA_march_salessalesemma","label":"GA_march_sales:emma:21.05263157894737","x":-5,"y":-43,"size":21,"type":"tag","color":null},{"id":"GA_march_salessalessam","label":"GA_march_sales:sam:1.7543859649122806","x":-10,"y":-30,"size":1,"type":"tag","color":null},{"id":"GA_feb_Call_again","label":"GA_feb_Call_again:81","x":50,"y":0,"size":81,"type":"agent","color":null},{"id":"GA_feb_sales","label":"GA_feb_sales:71","x":-25,"y":43,"size":71,"type":"agent","color":null},{"id":"GA_march_sales","label":"GA_march_sales:57","x":-25,"y":-43,"size":57,"type":"agent","color":null}],"edges":[{"id":"totalcallsGA_feb_Call_again","source":"totalcalls","target":"GA_feb_Call_again"},{"id":"totalcallsGA_feb_sales","source":"totalcalls","target":"GA_feb_sales"},{"id":"totalcallsGA_march_sales","source":"totalcalls","target":"GA_march_sales"},{"id":"GA_feb_Call_againharryedge","source":"GA_feb_Call_again","target":"GA_feb_Call_againsalesharry"},{"id":"GA_feb_Call_againabeedge","source":"GA_feb_Call_again","target":"GA_feb_Call_againsalesabe"},{"id":"GA_feb_Call_againprinceedge","source":"GA_feb_Call_again","target":"GA_feb_Call_againsalesprince"},{"id":"GA_feb_Call_againnoahedge","source":"GA_feb_Call_again","target":"GA_feb_Call_againsalesnoah"},{"id":"GA_feb_Call_againtomedge","source":"GA_feb_Call_again","target":"GA_feb_Call_againsalestom"},{"id":"GA_feb_Call_againdickedge","source":"GA_feb_Call_again","target":"GA_feb_Call_againsalesdick"},{"id":"GA_feb_Call_againannaedge","source":"GA_feb_Call_again","target":"GA_feb_Call_againsalesanna"},{"id":"GA_feb_Call_againdavidedge","source":"GA_feb_Call_again","target":"GA_feb_Call_againsalesdavid"},{"id":"GA_feb_Call_againemmaedge","source":"GA_feb_Call_again","target":"GA_feb_Call_againsalesemma"},{"id":"GA_feb_Call_againsamedge","source":"GA_feb_Call_again","target":"GA_feb_Call_againsalessam"},{"id":"GA_feb_salesharryedge","source":"GA_feb_sales","target":"GA_feb_salessalesharry"},{"id":"GA_feb_salesabeedge","source":"GA_feb_sales","target":"GA_feb_salessalesabe"},{"id":"GA_feb_salesprinceedge","source":"GA_feb_sales","target":"GA_feb_salessalesprince"},{"id":"GA_feb_salesnoahedge","source":"GA_feb_sales","target":"GA_feb_salessalesnoah"},{"id":"GA_feb_salestomedge","source":"GA_feb_sales","target":"GA_feb_salessalestom"},{"id":"GA_feb_salesdickedge","source":"GA_feb_sales","target":"GA_feb_salessalesdick"},{"id":"GA_feb_salesannaedge","source":"GA_feb_sales","target":"GA_feb_salessalesanna"},{"id":"GA_feb_salesdavidedge","source":"GA_feb_sales","target":"GA_feb_salessalesdavid"},{"id":"GA_feb_salesemmaedge","source":"GA_feb_sales","target":"GA_feb_salessalesemma"},{"id":"GA_feb_salessamedge","source":"GA_feb_sales","target":"GA_feb_salessalessam"},{"id":"GA_march_salesabeedge","source":"GA_march_sales","target":"GA_march_salessalesabe"},{"id":"GA_march_salesprinceedge","source":"GA_march_sales","target":"GA_march_salessalesprince"},{"id":"GA_march_salesnoahedge","source":"GA_march_sales","target":"GA_march_salessalesnoah"},{"id":"GA_march_salestomedge","source":"GA_march_sales","target":"GA_march_salessalestom"},{"id":"GA_march_salesdickedge","source":"GA_march_sales","target":"GA_march_salessalesdick"},{"id":"GA_march_salesannaedge","source":"GA_march_sales","target":"GA_march_salessalesanna"},{"id":"GA_march_salesdavidedge","source":"GA_march_sales","target":"GA_march_salessalesdavid"},{"id":"GA_march_salesemmaedge","source":"GA_march_sales","target":"GA_march_salessalesemma"},{"id":"GA_march_salessamedge","source":"GA_march_sales","target":"GA_march_salessalessam"}]};
</script>
<script>
	var urlagent = "../graph/agent";
	var urlsales = "../graph/sales"
</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div style="background-color:#009688;">
	<a><img src="http://d3w1xpp7d7qf3m.cloudfront.net/logo/1/logo.png"></a>
	<h1 align="center">Flower Chart</h1>
	  <div id="container" class="content-body">
	    <button id="lead" class="btn btn-primary btn-lg raised" data-target=".bs-example-modal-lg" onclick="drawGraph(urlsales)">Lead</button>
		<button id="agent" class="btn btn-primary btn-lg raised" data-target=".bs-example-modal-sm" onclick="drawGraph(urlagent)">Agent</button>
	    <div id="graph-container" style="width: 100%; height: 100%; background-color: #E5E5BE;">  </div> 
	  </div>
</div>
<script>
drawGraph = function(url){
	var graph = {}
	sigma.utils.pkg('sigma.canvas.nodes');
	$.ajax({
		type: "GET",
		url: url,
		cache: false,
		dataType: "json",
		success: function(msg){
			graph = msg;
			$("#graph-container").empty();
			s = new sigma({
				  graph: graph,
				  renderer: {
				    container: document.getElementById('graph-container'),
				    type: 'canvas'
				  },
				  settings: {
				    doubleClickEnabled: false,
				    minEdgeSize: 2.5,
				    maxEdgeSize: 20,
				    defaultEdgeHoverColor: '#000',
				    edgeHoverSizeRatio: 1,
				    defaultNodeColor: '#ec5148',
				    edgeHoverExtremities: true,
				  }
				});
		}
		});
}

</script>
</body>